# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\algorithm\leetcode\148\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
